*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color: #177673;
  font-family: 'Cabin', sans-serif;
}


//    V--popups--V

.noscroll {
  overflow: hidden;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #177673;
  border: 1px solid black;
  box-shadow: 3px 3px 10px 0px black;
  z-index: 99999999;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}

.disable-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.6);
  z-index: 9999999;
  visibility: hidden;
  transition: 0.3s;
}

.popup-show {
  visibility: visible;
  opacity: 1;
}

.exit-btn {
  height: 24px;
  width: 24px;
  margin: 12px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; cursor: hand;
}
