* {
  margin: 0;
  padding: 0;
  background-color: #177673;
}

.navbox {
  height: 49px;
  width: 100%;
  background-color: #165d5b;
}

.navbox-brand {
  float: left;
  height: 80px;
  width: 215px;
  margin: 6px 0 0 40px;
  padding: 0 20px 0 25px;
  background-color: #165d5b;
  border-radius: 0 0 35px 35px;
}

.nav-links {
  margin: 0 15px 0 0;
  list-style-type: none;
  background-color: #165d5b;
}

.nav-links li {
  float: right;
  margin: 0 10px;
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  font-weight: 900;
  font-variant: small-caps;
  color: black;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 1px -1px 2px 1px black;
  position: relative;
}

.nav-links li::before {
  content: '';

  display: block;
  height: 6px;
  width: 0%;
  background-color: #b2692a;

  position: absolute;
  top: 0;
  left: 0;

  transition: all ease 250ms;
}

.nav-links li:hover::before {
  width: 100%;
}

